article.single {
  max-width: 768px;
  margin: auto;
  padding: 0 1.5em;
}
article div {
  text-align: justify;
}
article div p {
  line-height: 200%;
}
.cy-logo {
  display: none !important;
}
