body {
  text-align: center;
  font-family: "Lato", sans-serif;
}

ol {
  padding: 0;
  margin: 0 aut0;
  width: 100%;
}

li {
  display: block;
  width: 100%;
  max-width: 768px;
  text-align: center;
  margin: 12px auto;
  transform: persective(1px) translateZ(0);
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.5em;
  cursor: pointer;
  color: #666;
}
li > a {
  cursor: pointer;
  color: #666;
}
li > span,
li > a > span {
  display: block;
  font-size: 0.5em;
}

li > span::before,
li > a > span::before {
  content: "( ";
}
li > span::after,
li > a > span::after {
  content: " )";
}
li:hover,
li:active,
li:focus {
  color: #333;
  border-color: #333;
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
a {
  text-decoration: none;
}
.progress {
  height: 13px;
  background: #ecf0f1;
  font-size: 12px;
  line-height: 13px;
  text-align: left;
}
.progress a {
  display: block;
  color: white;
  text-align: center;
  float: left;
  border-radius: 0 10px 0 0;
}
.progress .percent {
  width: 24px;
  border-radius: 0 12px 12px 0;
  font-size: 9px;
}
.success {
  background: #27ae60;
}
.success:hover {
  background: #2ecc71;
}
.doing {
  background-color: #e67e22;
}
.doing:hover {
  background-color: #d35400;
}
.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
.w30 {
  width: 30%;
}
.w40 {
  width: 40%;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w70 {
  width: 70%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
